.maze_display {
    border-collapse: collapse;
    border: 3px solid;
    margin: 25px 25px;
}

.maze_wall_cell {
    background-color: grey;
    width: 5px;
    height: 5px;
}

.maze_rover_cell {
    background-color: purple;
    width: 5px;
    height: 5px;
}

.maze_empty_cell {
    background-color: lightblue;
    width: 5px;
    height: 5px;
}